body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote, figure {
	margin:0;
	padding:0;
	border-width:0;
}
body {
	-epub-hyphens:auto;
}
div.Basic-Text-Frame {
	border-style:solid;
}
p.Basic-Paragraph {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.ParaOverride-1 {
	-epub-hyphens:none;
	text-align:right;
}
p.ParaOverride-2 {
	text-align:right;
}
p.ParaOverride-3 {
	-epub-hyphens:none;
}
span.CharOverride-1 {
	font-family:Helvetica, sans-serif;
	font-size:10px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-2 {
	font-family:Helvetica, sans-serif;
	font-size:24px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-3 {
	font-family:Helvetica, sans-serif;
	font-size:45px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-4 {
	font-family:Helvetica, sans-serif;
	font-style:normal;
	font-weight:300;
}
span.CharOverride-5 {
	font-family:Helvetica, sans-serif;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-6 {
	font-family:Helvetica, sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-7 {
	color:#ffffff;
	font-family:Helvetica, sans-serif;
	font-size:17px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-8 {
	color:#ffffff;
	font-family:Helvetica, sans-serif;
	font-size:14px;
	font-style:normal;
	font-weight:bold;
}
#_idContainer000 {
	-ms-transform:translate(0.000px,0.000px) rotate(33.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:50% 50%;
	-webkit-transform:translate(0.000px,0.000px) rotate(33.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:50% 50%;
	display:inline-block;
	height:491px;
	transform:translate(0.000px,0.000px) rotate(33.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(33.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:50% 50%;
	transform-origin:50% 50%;
	width:487px;
}
#_idContainer003 {
	display:inline-block;
	height:68px;
	width:148px;
}
#_idContainer008 {
	display:inline-block;
	height:50px;
	width:589px;
}
#_idContainer011 {
	-ms-transform:translate(0.000px,0.000px) rotate(180.250deg) skew(0.000deg) scale(1.000,-1.000);
	-ms-transform-origin:50% 50%;
	-webkit-transform:translate(0.000px,0.000px) rotate(180.250deg) skew(0.000deg) scale(1.000,-1.000);
	-webkit-transform-origin:50% 50%;
	display:inline-block;
	height:639px;
	transform:translate(0.000px,0.000px) rotate(180.250deg) skew(0.000deg) scale(1.000,-1.000);
	transform:translate(0.000px,0.000px) rotate(180.250deg) skew(0.000deg) scale(1.000,-1.000);
	transform-origin:50% 50%;
	transform-origin:50% 50%;
	width:629px;
}
#_idContainer016 {
	-ms-transform:translate(0.000px,0.000px) rotate(117.249deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:50% 50%;
	-webkit-transform:translate(0.000px,0.000px) rotate(117.249deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:50% 50%;
	display:inline-block;
	height:576px;
	transform:translate(0.000px,0.000px) rotate(117.249deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(117.249deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:50% 50%;
	transform-origin:50% 50%;
	width:409px;
}
#_idContainer019 {
	-ms-transform:translate(0.000px,0.000px) rotate(122.250deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:50% 50%;
	-webkit-transform:translate(0.000px,0.000px) rotate(122.250deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:50% 50%;
	display:inline-block;
	height:119px;
	transform:translate(0.000px,0.000px) rotate(122.250deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(122.250deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:50% 50%;
	transform-origin:50% 50%;
	width:649px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
div._idGenObjectStyleOverride-1 {
	border-width:0px;
}
div._idGenObjectLayout-1 {
	text-align:center;
}
div._idGenObjectLayout-2 {
	margin:93px 94px 93px 94px;
}
div._idGenObjectLayout-3 {
	margin:1px 1px 1px 1px;
}
div._idGenObjectLayout-4 {
	margin:26px 145px 26px 145px;
}
div._idGenObjectLayout-5 {
	margin:247px -101px 247px -101px;
}
